:root {
    background-image: url('/public/desktop-background.jpg'); // From wallpapers.com
    min-height: 100vh;
    background-size: cover;
    background-position: 50%;
}

header {
    background-color: #0a0527;
}

select {
    height: 1.8rem;
}

//Main

//To do blocks

.to-do-item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 10rem;
}

.to-do-text {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.deadline {
    padding-top: 1rem;
}

//Buttons
.add-btn{
    margin-left: 0.2rem;
    height: 2rem;
    width: 4.5rem;
}

.check-btn, .check-btn-style, .delete-btn{
    height: 4rem;
    width: 4rem;
}

.delete-btn {
    font-size: 1rem;
}